* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;
}

body, button {
    background-color: #eeeeee;
    color: #2b2b2b;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.clearfix {
    overflow: auto;
}

/* Main content */
main, header {
    width: 100%;
    height: auto;
    font-size: 1em;
    padding: 0.5em;
}

section {
    margin: auto;
    width: 38.3em;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 5px 5px 15px #00000033 !important;
}

.info-section {
    display: block;
    clear: both;
    background-color: #f2f2f2;
    color: #2b2b2b;
    padding: 0.5em;
    border-radius: 0.25em;
    font-style: italic;
    font-size: 1.2em;
    overflow-wrap: normal;
}

.container {
    clear: both;
    display: block;
    width: 100%;
    margin: 1em 0;
}

.section-title {
    padding: 0.25em 1em;
    text-align: center;
    font-size: 1.5em;
}

.section-red {
    background-color: rgb(221, 5, 31);
    color: #eeeeee;
}

.section-blue {
    background-color: rgb(0, 120, 255);
    color: #eeeeee;
}

.section-green {
    background-color: rgb(0, 118, 76);
    color: #eeeeee;
}

.section-yellow {
    background-color: rgb(247, 227, 0);
    color: #333333;
    font-weight: 600;
}

.section-orange {
    background-color: rgb(239, 161, 0);
    color: #eeeeee;
}

.section-content {
    padding: 1.2em;
    background-color: #fcfcfc;
}

.asterisk {
    color: #dd051f;
}

/* Form styles */
form {
    width: 100%;
    margin: auto;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

legend {
    margin: 0 1em;
    font-weight: bold;
}

.form-field {
    width: 100%;
    margin: auto;
    padding: 5pt 0;
    clear: both;
    color: #555;
}

.form-field label, .form-field input, .form-field select, .form-field output {
    float: left;
    vertical-align: center;
    margin: 5pt 2.5%;
    font-size: 1.2em;
}

.form-field label, .form-field output {
    width: 45%;
}

.form-field input, .form-field select {
    width: 45%;
    border-style: none;
    padding: 0 2.5%;
    box-shadow: 1px 1px 3px #00000033;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.form-field input[type="submit"] {
    width: 90%;
}

.form-field input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-field input[type="radio"] {
    width:auto;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.radio-span {
    width: 90%;
}

.radio-span label, .radio-span input {
    width: auto;
    vertical-align: auto;
}

.form-field input:read-only {
    font-style: italic;
    color:#555;
    background-color: #f7f7f7;
}

.form-field-divider {
    clear: both;
    width: 90%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 0 5%;
}

@media only screen and (max-width: 40em) {
    section {
        width: 100%;
        margin: 0;
    }
    
    .info-section {
        font-size: 1.1em;
    }

    .section-title {
        padding: 0.25em 0.25em;
    }

    .section-content {
        padding: 0.75em;
    }
    
    .form-field {
        padding: 5pt 10pt;
    }

    .form-field label, .form-field output {
        width: inherit;
        text-align: center;
        margin: 5pt 0;
    }

    .form-field input, .form-field select {
        width: inherit;
        margin: 5pt 0;
    }
}